.vd-estimates td {
    background: #f5f5f5;
}

.vd-estimates tr:nth-last-of-type(1) > * {
    border-bottom: 1px solid #000;
}

.box.vd {
    width: 250px;
}

.box.vd-calculations {
    width: 300px;
}

.vd label {
    display: inline-block;
    text-align: right;
    padding-right: 1ch;
}

.vd input {
    text-align: center;
}

.vd .ms-TextField-wrapper {
    display: grid;
    grid-template-columns: 10ch 1fr;
}

.vd .ms-Dropdown-container {
    display: grid;
    grid-template-columns: 10ch 1fr;
}

.vd .ms-TextField-suffix span {
    width: 6ch;
}
