.flex-around {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.flex-around>* {
    flex-basis: 100%;
}

.lp-btn {
    font-size: 2.5vw;
    margin: 2vh;
    border-radius: 3vh;
    box-shadow: 2px 2px 2px #555;
    cursor: pointer;
    transition: all .2s ease-in-out;
    padding: 5vh;
    text-shadow: 1px 1px 1px #555;
}

.lp-btn:hover {
    background: #fff;
    transform: scale(1.05);
    border: 4px solid black;
}


@media screen and (max-width:768px) {
    .flex-around {
        flex-direction: column;
    }

    .lp-btn {
        font-size: 1.5rem;
    }
}